---
layout: default
title: 存档
---

<section class="content">
  <ul class="listing">
    <% site.posts.forEach(function(post){ %>
    <li>
      <span><%- post.date.format("YYYY-MM-DD") %></span> <a href="<%- post.permalink %>"><%- post.title %></a>
    </li>
    <% }); %>
  </ul>
</section>